<!DOCTYPE html>
<html>
    <body>

        <h1>QR Code</h1>
        <img src='@Url.Action("image")' alt="" />

        <script>
            $(document).ready(function () {

                alert('ViewBag.image');
            });
        </script>

    </body>
</html>